In [1]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly

# 1. Business Understanding
Goal: Predict diabetes.

# 2. Data Understanding

## 2.1 Load dataset

In [2]:
## Read *.xlsx file into pandas DataFrame
FILE_PATH = "diabetes.xlsx"
df = pd.read_excel(FILE_PATH, sheet_name='Sheet1')
df ## Display dataframe

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,31,0,0,0,0,1,...,1,0,2,0,0,0,0,2,6,8
996,0,0,0,1,21,0,0,0,1,0,...,1,0,1,0,6,0,0,10,5,8
997,0,0,1,1,31,0,0,0,1,0,...,1,0,3,0,0,1,1,7,4,1
998,0,0,0,1,37,0,0,0,1,1,...,1,0,2,0,0,0,0,5,4,8
999,0,1,0,1,28,1,0,1,0,0,...,1,0,2,0,0,1,1,11,4,7

## 2.2 Summary Statistics

In [3]:
## Understand the type of variable for each column
df.info() ## Alternatively: df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes              1000 non-null   int64
 1   HighBP                1000 non-null   int64
 2   HighChol              1000 non-null   int64
 3   CholCheck             1000 non-null   int64
 4   BMI                   1000 non-null   int64
 5   Smoker                1000 non-null   int64
 6   Stroke                1000 non-null   int64
 7   HeartDiseaseorAttack  1000 non-null   int64
 8   PhysActivity          1000 non-null   int64
 9   Fruits                1000 non-null   int64
 10  Veggies               1000 non-null   int64
 11  HvyAlcoholConsump     1000 non-null   int64
 12  AnyHealthcare         1000 non-null   int64
 13  NoDocbcCost           1000 non-null   int64
 14  GenHlth               1000 non-null   int64
 15  MentHlth              1000 non-null   int64
 16  PhysHlth              1000 non-null   int64
 17  DiffWalk              1000 non-null   int64
 18  Sex                   1000 non-null   int64
 19  Age                   1000 non-null   int64
 20  Education             1000 non-null   int64
 21  Income                1000 non-null   int64
dtypes: int64(22)
memory usage: 172.0 KB

In [4]:
## Check for missing data
df.isna().sum() ## Alternative: df.isnull().sum()

Diabetes                0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [5]:
## Describe data distribution
df.describe(include="all")

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.242000,0.591000,0.530000,0.983000,29.217000,0.446000,0.066000,0.134000,0.636000,0.578000,...,0.95800,0.103000,2.883000,4.123000,5.766000,0.305000,0.348000,9.069000,4.769000,5.315000
std,0.428509,0.491895,0.499349,0.129336,6.218085,0.497324,0.248406,0.340823,0.481389,0.494126,...,0.20069,0.304111,1.099327,8.392515,9.929141,0.460638,0.476574,2.666712,1.052971,2.231312
min,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.00000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,4.000000,3.000000
50%,0.000000,1.000000,1.000000,1.000000,28.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.00000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,6.000000
75%,0.000000,1.000000,1.000000,1.000000,32.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.00000,0.000000,4.000000,3.000000,7.000000,1.000000,1.000000,11.000000,6.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,59.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

## 2.3 Data Visualization

### 2.3.1 Understanding distribution of data

### 2.3.1.1 Understanding distribution of target

In [6]:
## Understanding distribution of target
col_y = 'Diabetes'

### 2.3.1.2 Understanding distribution of features

In [7]:
## Plot histogram
# df.hist(figsize=(8,8))
# plt.show()

In [8]:
## Plot boxplot for different features
# df.boxplot(rot=45, figsize=(4, 2)) ## rot: rotation of label
# plt.show()

### 2.3.2 Understanding relationship between variables

In [9]:
## Check datatypes for each column
col_numeric = df.select_dtypes(include=['float', 'int']).columns ## Select all categorical columns

## Display correlation matrix
# df_corr = df[col_numeric].corr()
# df_corr

In [10]:
## Plot heatmap
# sns.heatmap(df_corr, cmap='RdYlGn')
# plt.show()

In [11]:
## Plot pairplot
# sns.pairplot(df, hue=col_y)
# plt.show()

### ü§ì Back to slides üë®üèª‚Äçüè´

# 3. Data Preparation

## 3.1 Data Cleaning

In [12]:
## We will just run the code without data cleaning for demonstration purpose

col_irrelevant = [col_y, 'GenHlth', 'MentHlth', 'PhysHlth', 'Education', 'Income']

## 3.2 Handling Categorical Data (One-Hot Encoding)

In [13]:
## Check datatypes for each column
col_categorical = df.select_dtypes(include=['object']).columns ## Select all categorical columns

## Print data about categorical column
'''
nunique(): Return total number of unique values in column
unique(): Return unique values in column
'''
for col in df[col_categorical]:
    print(f'{col} ({df[col].nunique()}): {df[col].unique()}')

In [14]:
## Split data into features (X) and target (y)
y = df[col_y] ## Select target column 

# col_irrelevant = [col_y]

X = df.drop(col_irrelevant, axis=1) ## Select feature columns 

## One-Hot Encoding
X = pd.get_dummies(X, 
               drop_first=True ## Remove redundant information
               )
X

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,DiffWalk,Sex,Age
0,1,1,1,40,1,0,0,0,0,1,0,1,0,1,0,9
1,0,0,0,25,1,0,0,1,0,0,0,0,1,0,0,7
2,1,1,1,28,0,0,0,0,1,0,0,1,1,1,0,9
3,1,0,1,27,0,0,0,1,1,1,0,1,0,0,0,11
4,1,1,1,24,0,0,0,1,1,1,0,1,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,31,0,0,0,0,1,0,0,1,0,0,0,2
996,0,0,1,21,0,0,0,1,0,1,0,1,0,0,0,10
997,0,1,1,31,0,0,0,1,0,0,0,1,0,1,1,7
998,0,0,1,37,0,0,0,1,1,1,0,1,0,0,0,5
999,1,0,1,28,1,0,1,0,0,1,0,1,0,1,1,11

## 3.3 Train-Test Split

In [15]:
from sklearn.model_selection import train_test_split

## Split data into train set and test set
test_size = 0.3 
random_state = 2025 ## For reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=test_size, 
                                                    random_state=random_state)

### ü§ì Back to slides üë®üèª‚Äçüè´

# 4. Modelling

### 4.2 Train Model

In [16]:
from sklearn.tree import DecisionTreeClassifier

## Initialise model
dt = DecisionTreeClassifier() ## Decision Tree Regressor model
dt.fit(X_train, y_train) ## Train model

## Evaluate model
from sklearn.metrics import accuracy_score
y_pred_dt = dt.predict(X_test)
print("Decision Tree Accuracy: ", accuracy_score(y_test, y_pred_dt))

## Save model
import joblib
joblib.dump(dt, 'diabetes_dt_model.pkl') ## Save Decision Tree model

Decision Tree Accuracy:  0.6366666666666667

['diabetes_dt_model.pkl']

In [17]:
## Initialise model
from sklearn.ensemble import GradientBoostingClassifier
gbt = GradientBoostingClassifier()
gbt.fit(X_train, y_train) ## Train model

## Evaluate model
from sklearn.metrics import accuracy_score
y_pred_gbt = dt.predict(X_test)
print("Gradient Boosted Tree Accuracy: ", accuracy_score(y_test, y_pred_gbt))

## Save model
import joblib
joblib.dump(gbt, 'diabetes_gbt_model.pkl') ## Save Gradient Boosted Tree model

Gradient Boosted Tree Accuracy:  0.6366666666666667

['diabetes_gbt_model.pkl']

In [18]:
## Initialise model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train) ## Train model

## Evaluate model
from sklearn.metrics import accuracy_score
y_pred_rf = rf.predict(X_test)
print("Random Forest Accuracy: ", accuracy_score(y_test, y_pred_rf))

## Save model
import joblib
joblib.dump(gbt, 'diabetes_rf_model.pkl') ## Save Gradient Boosted Tree model

Random Forest Accuracy:  0.73

['diabetes_rf_model.pkl']

In [19]:
## Define parameter grid
param_grid_rf = {
    'n_estimators': [10, 50], ## Number of trees in the forest
    'criterion': ['gini', 'entropy'], ## Measure quality of a split
    'max_depth': [1, 2, 3], ## Maximum depth of tree
    'min_samples_split': [2, 5], ## Minimum number of samples required to split a node
    'max_features': ['sqrt', 'log2'] ## Number of features to consider at each split
    }

## Initialise model
from sklearn.model_selection import GridSearchCV
gs_rf = GridSearchCV(estimator = rf,
                     param_grid = param_grid_rf,
                     cv = 5, ## Number of cross-validation folds
                     scoring = 'accuracy', ## Scoring metric
                     )

gs_rf.fit(X_train, y_train)

## Obtain best parameters and best estimator
best_gs_params = gs_rf.best_params_
best_gs_rf = gs_rf.best_estimator_
print("Best Parameters: ", best_gs_params)
print("Best Estimator: ", best_gs_rf)

## Evaluate model
y_pred_gs_rf = best_gs_rf.predict(X_test) ## Prediction using model 3
print("Grid Search Random Forest Classifier accuracy: ", accuracy_score(y_test, y_pred_gs_rf))

# Save model
import joblib
joblib.dump(best_gs_rf, 'diabetes_best_gs_rf_model.pkl') ## Save Random Forest model

Best Parameters:  {'criterion': 'gini', 'max_depth': 3, 'max_features': 'sqrt', 'min_samples_split': 2, 'n_estimators': 50}
Best Estimator:  RandomForestClassifier(max_depth=3, n_estimators=50)
Grid Search Random Forest Classifier accuracy:  0.73

['diabetes_best_gs_rf_model.pkl']

In [20]:
## Define parameter distribution
from scipy.stats import randint, uniform

param_dist_rf = {
    'n_estimators': randint(1, 5),  ## Number of trees in the forest
    'criterion': ['gini', 'entropy'], ## Measure quality of a split
    'max_depth': randint(1, 3),   ## Maximum depth of tree
    'min_samples_split': randint(2, 5),  ## Minimum number of samples required to split a node
    'max_features': ['sqrt', 'log2'],  ## Number of features to consider at each split
    'max_samples': uniform(0.6, 0.4)  ## range [0.6, 1.0) ## Fraction of samples to use for training each tree
}

from sklearn.model_selection import RandomizedSearchCV
rs_rf = RandomizedSearchCV(
    estimator = rf, 
    param_distributions = param_dist_rf,
    cv = 5, ## Number of cross-validation folds
    scoring = 'accuracy', ## Scoring metric
    n_iter = 10, ## Number of parameter settings sampled
    n_jobs = -1 ## -1: Use all available cores
    )

rs_rf.fit(X_train, y_train)

## Obtain best parameters and best estimator
best_rs_params = rs_rf.best_params_
best_rs_rf = rs_rf.best_estimator_
print("Best Parameters: ", best_rs_params)
print("Best Estimator: ", best_rs_rf)

## Evaluate model
y_pred_rs_rf = best_rs_rf.predict(X_test) ## Prediction using model 3
print("Randomized Search Random Forest Classifier accuracy: ", accuracy_score(y_test, y_pred_rs_rf))

# Save model
import joblib
joblib.dump(best_rs_rf, 'diabetes_best_rs_rf_model.pkl') ## Save Random Forest model

Best Parameters:  {'criterion': 'gini', 'max_depth': 2, 'max_features': 'sqrt', 'max_samples': np.float64(0.6019087010581625), 'min_samples_split': 2, 'n_estimators': 4}
Best Estimator:  RandomForestClassifier(max_depth=2, max_samples=np.float64(0.6019087010581625),
                       n_estimators=4)
Randomized Search Random Forest Classifier accuracy:  0.73

['diabetes_best_rs_rf_model.pkl']

### ü§ì Back to slides üë®üèª‚Äçüè´

# 5. Model Evaluation

In [21]:
## Confusion matrix
from sklearn.metrics import confusion_matrix
y_pred_dt = dt.predict(X_test) ## Make prediction
confusion_matrix(y_test, y_pred_dt)

array([[164,  55],
       [ 54,  27]])

In [22]:
## Classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_dt))

              precision    recall  f1-score   support

           0       0.75      0.75      0.75       219
           1       0.33      0.33      0.33        81

    accuracy                           0.64       300
   macro avg       0.54      0.54      0.54       300
weighted avg       0.64      0.64      0.64       300

In [ ]:
## New data
X_unseen = pd.read_excel(FILE_PATH, sheet_name='Sheet1') ## For simplicity, we load back our original dataset

## Convert to OHE Pandas dataframe
col_df_X = df.drop(col_y, axis=1).columns ## Select feature columns
col_ohe = X.columns.tolist() ## Select feature column names after OHE

X_unseen = pd.DataFrame(X_unseen, columns=col_df_X) ## Convert to Pandas dataframe
X_unseen = pd.get_dummies(X_unseen, drop_first=True) ## OHE
X_unseen = X_unseen.reindex(columns=col_ohe, fill_value=0) ## Provide OHE columns
display(X_unseen) 

## Predict
X_unseen['Prediction'] = dt.predict(X_unseen)
X_unseen

## Compare with groundtruth
y_unseen = pd.read_excel(FILE_PATH, sheet_name='Sheet1') ## For simplicity, we load back our original dataset
X_unseen['Actual'] = y_unseen[col_y]
X_unseen
X_unseen.to_csv('diabetes_predictions_dt.csv', index=False) ## Save predictions to CSV file

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,DiffWalk,Sex,Age
0,1,1,1,40,1,0,0,0,0,1,0,1,0,1,0,9
1,0,0,0,25,1,0,0,1,0,0,0,0,1,0,0,7
2,1,1,1,28,0,0,0,0,1,0,0,1,1,1,0,9
3,1,0,1,27,0,0,0,1,1,1,0,1,0,0,0,11
4,1,1,1,24,0,0,0,1,1,1,0,1,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,31,0,0,0,0,1,0,0,1,0,0,0,2
996,0,0,1,21,0,0,0,1,0,1,0,1,0,0,0,10
997,0,1,1,31,0,0,0,1,0,0,0,1,0,1,1,7
998,0,0,1,37,0,0,0,1,1,1,0,1,0,0,0,5
999,1,0,1,28,1,0,1,0,0,1,0,1,0,1,1,11

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,DiffWalk,Sex,Age,Prediction,Actual
0,1,1,1,40,1,0,0,0,0,1,0,1,0,1,0,9,0,0
1,0,0,0,25,1,0,0,1,0,0,0,0,1,0,0,7,0,0
2,1,1,1,28,0,0,0,0,1,0,0,1,1,1,0,9,0,0
3,1,0,1,27,0,0,0,1,1,1,0,1,0,0,0,11,0,0
4,1,1,1,24,0,0,0,1,1,1,0,1,0,0,0,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,31,0,0,0,0,1,0,0,1,0,0,0,2,0,0
996,0,0,1,21,0,0,0,1,0,1,0,1,0,0,0,10,0,0
997,0,1,1,31,0,0,0,1,0,0,0,1,0,1,1,7,0,0
998,0,0,1,37,0,0,0,1,1,1,0,1,0,0,0,5,0,0
999,1,0,1,28,1,0,1,0,0,1,0,1,0,1,1,11,0,0

## Supervised Learning 6: Neural Network, MLP

In [24]:
## Initialise model
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10, 5), 
                    activation='relu', 
                    solver='adam', 
                    max_iter=500, 
                    random_state=2025)

## Train model
mlp.fit(X_train, y_train) 

## Evaluate model
y_pred_mlp = mlp.predict(X_test)
print("MLP Classifier Accuracy: ", accuracy_score(y_test, y_pred_mlp))

## Save model
import joblib
joblib.dump(mlp, 'diabetes_mlp_model.pkl') ## Save MLP model

MLP Classifier Accuracy:  0.7433333333333333

['diabetes_mlp_model.pkl']